@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

$font-name: 'Roboto', sans-serif;
$bg-color: #f2f2f2;
$Tomato: #ff6257;
$transparent: rgba(0, 0, 0, 0);
$blurcolor: rgba(0, 0, 0, 0.274);
$Dark_Slate_Grey: hsla(234, 29%, 20%, 0.993);
$Charcoal_Grey: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$White: hsl(0, 0%, 100%);